#header {
	background-color: #fcd5d8;
	padding: 1rem 2rem;
	box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 100;
	position: relative;
	position: sticky;
	top: 0;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 0;
	transition: height 1s;
	overflow: hidden;
	gap: 2rem;
}

.menu--open {
	height: 40vh;
}

#header > button {
	height: 30px;
	width: 30px;
	cursor: pointer;
	align-self: flex-end;
	border: none;
	background-color: #fcd5d8;
}

.social-links {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.social-links__link > a {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000000;
}

.social-links__link > a > img {
	width: 30px;
	height: 30px;
}

.menu > a {
	cursor: pointer;
}

.menu > a > button {
	background: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	color: #fcd5d8;
	height: 50px;
	width: 40vw;
	font-family: 'Concert One';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
