#hero {
	min-height: 100vh;
	position: fixed;
	top: 50px;
}

#hero__image {
	max-width: 100vw;
	height: 100vh;
	object-fit: cover;
}

#hero__image::before {
	display: block;
	position: absolute;
	z-index: 1;
	background: linear-gradient(
		180deg,
		#efffe8 0%,
		rgba(196, 196, 196, 0) 22.28%,
		rgba(216, 224, 213, 0.470141) 93.89%,
		#efffe8 100%
	);
	height: 40vh;
	width: 100%;
	content: '';
}
