#pig-army {
	background-color: var(--background-primary);
	min-height: 50vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: var(--padding-default);
	gap: var(--padding-default);
}

#pig-army > h1 {
	color: var(--background-secondary);
}
#pig-army > span {
	color: var(--text-color-primary);
}
